@page "/fatek"

<h3>FatekCommunicationTest</h3>

<br />

<SfButton CssClass="TSIOperationPageAdjustmentButton" OnClick="WriteToPLC"><SfIcon Size="IconSize.Medium" Name="IconName.CircleCheck"></SfIcon>&nbsp;PLC'ye Yaz!!!!</SfButton>

