@layout MainLayout
@page "/"

@inject NavigationManager NavigationManager
@inject OperationDetailLocalDbService OperationDetailLocalDbService
@inject ParametersTableLocalDbService ParametersTableLocalDbService

<h4>TSI TEKNOLOJİ</h4>