@layout MainLayout
@page "/home"

@using DevExpress.Blazor.Popup

@inject NavMenuService mss
@inject Navigation Navigation
@inject OperationDetailLocalDbService OperationDetailLocalDbService
@inject ParametersTableLocalDbService ParametersTableLocalDbService
@inject IHaltReasonsAppService HaltReasonsService
@inject OperationHaltReasonsTableLocalDbService OperationHaltReasonsTableLocalDbService
@inject SystemGeneralStatusLocalDbService SystemGeneralStatusLocalDbService
@inject ScrapLocalDbService ScrapLocalDbService
@inject OperationAdjustmentLocalDbService OperationAdjustmentLocalDbService
@inject LoggedUserLocalDbService LoggedUserLocalDbService
@inject IProtocolServices ProtocolServices

<div style="height:800px">

    <DxGridLayout CssClass="TSIGridLayout">

        <Rows>
            <DxGridLayoutRow Height="8%" />
            <DxGridLayoutRow Height="8%" />
            <DxGridLayoutRow Height="8%" />
            <DxGridLayoutRow Height="8%" />
            <DxGridLayoutRow Height="8%" />
            <DxGridLayoutRow Height="8%" />
        </Rows>

        <Columns>
            <DxGridLayoutColumn Width="2%" />
            <DxGridLayoutColumn Width="30%" />
            <DxGridLayoutColumn Width="2%" />
            <DxGridLayoutColumn Width="30%" />
            <DxGridLayoutColumn Width="2%" />
            <DxGridLayoutColumn Width="30%" />
            <DxGridLayoutColumn Width="4%" />
        </Columns>

        <Items>

            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="7">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="" CurrentMenu="Üretim Takip - Ana Sayfa" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>

            <DxGridLayoutItem Row="1" Column="1" ColumnSpan="3">
                <Template>
                    <label class="TSIOperationPageModalLabel"><strong>Personel</strong></label>

                    <SfTextBox @bind-Value=AppService.EmployeeName Enabled=false></SfTextBox>
                </Template>
            </DxGridLayoutItem>

            <DxGridLayoutItem Row="1" Column="5" ColumnSpan="2">
                <Template>
                    <label class="TSIOperationPageModalLabel"><strong>Sistem Boşta Bekleme Süresi</strong></label>

                    <SfTextBox @bind-Value=SystemIdleTime Enabled=false></SfTextBox>
                </Template>
            </DxGridLayoutItem>

            <DxGridLayoutItem Row="2" Column="1" ColumnSpan="1">
                <Template>
                    <br />
                    <br />
                    <label class="TSIOperationPageModalLabel"><strong>Devam Eden İş Emri Numarası</strong></label>

                    <SfTextBox @bind-Value=AppService.CurrentOperation.WorkOrderNo Enabled=false></SfTextBox>
                </Template>
            </DxGridLayoutItem>

            <DxGridLayoutItem Row="2" Column="3" ColumnSpan="1">
                <Template>
                    <br />
                    <br />
                    <label class="TSIOperationPageModalLabel"><strong>Planlanan Adet</strong></label>
                    <br />
                    <br />

                    <SfNumericTextBox Min="0" TValue="decimal" @bind-Value="AppService.CurrentOperation.PlannedQuantity" Enabled=false Decimals="0"></SfNumericTextBox>
                </Template>
            </DxGridLayoutItem>

            <DxGridLayoutItem Row="2" Column="5" ColumnSpan="1">
                <Template>
                    <br />
                    <br />
                    <label class="TSIOperationPageModalLabel"><strong>Gerçekleşen Adet</strong></label>
                    <br />
                    <br />

                    <SfNumericTextBox Min="0" TValue="decimal" @bind-Value="AppService.CurrentOperation.ProducedQuantity" Enabled=false Decimals="0"></SfNumericTextBox>
                </Template>
            </DxGridLayoutItem>

            <DxGridLayoutItem Row="4" Column="1" ColumnSpan="2">
                <Template>
                    <br />
                    <br />
                    <SfButton CssClass="TSIOperationPageAdjustmentButton" Disabled=@(AppService.CurrentOperation.Id>0 ? false : true) OnClick="GoToCurrentWorkOrder"><SfIcon Size="IconSize.Large" Name="IconName.ArrowRight"></SfIcon>&nbsp;&nbsp;İş Emrine Git</SfButton>
                </Template>
            </DxGridLayoutItem>

            <DxGridLayoutItem Row="4" Column="3" ColumnSpan="2">
                <Template>
                    <br />
                    <br />
                    <SfButton CssClass="TSIOperationPageAdjustmentButton" OnClick=@ShowHaltReasonModal><SfIcon Size="IconSize.Large" Name="IconName.Pause"></SfIcon>&nbsp;&nbsp;Duruş Başlat</SfButton>
                </Template>
            </DxGridLayoutItem>

            <DxGridLayoutItem Row="4" Column="5" ColumnSpan="2">
                <Template>
                    <br />
                    <br />
                    <SfButton OnClick=@ShowModal CssClass="TSIOperationPageAdjustmentButton"><SfIcon Size="IconSize.Large" Name="IconName.Settings"></SfIcon>&nbsp;&nbsp;Bakım / Arıza Başlat</SfButton>
                </Template>
            </DxGridLayoutItem>

        </Items>
    </DxGridLayout>

    <DxPopup @bind-Visible=HaltReasonModalVisible
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="Duruş Bilgisi"
             ShowCloseButton=false
             Width="58%"
             Height="44%"
             MinWidth="1000px"
             MinHeight="480px"
             HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="18%" />
                    <DxGridLayoutRow Height="6%" />
                    <DxGridLayoutRow Height="10%" />
                    <DxGridLayoutRow Height="10%" />
                    <DxGridLayoutRow Height="72%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="0%" />
                    <DxGridLayoutColumn Width="30%" />
                    <DxGridLayoutColumn Width="70%" />
                    <DxGridLayoutColumn Width="0%" />
                </Columns>

                <Items>

                    <DxGridLayoutItem Row="0" Column="1" ColumnSpan="2">
                        <Template>
                            <table>
                                <tr>
                                    <td style="width:50%">
                                        <label class="TSIOperationPageModalLabel"><strong>Duruş Süresi</strong></label>

                                        <SfTextBox @bind-Value=HaltReasonTime Enabled=false></SfTextBox>
                                    </td>
                                
                                    <td style="width:50%">
                                        <label class="TSIOperationPageModalLabel"><strong>Seçilen Duruş Bilgisi</strong></label>

                                        <SfTextBox @bind-Value=SelectedHaltReason.Name Enabled=false></SfTextBox>
                                    </td>
                                </tr>
                            </table>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="1" ColumnSpan="2">
                        <Template>
                            <SfCard class="TSIListPageButtonCard3">
                                <CardContent>
                                    <table>
                                        <tr>
                                            <td style="width:20%">

                                                <SfButton OnClick=@GetHaltReasonsIsOperator CssClass="TSIOperationPageAdjustmentButton">Personel Kaynaklı Duruşlar</SfButton>
                                            </td>

                                            <td style="width:20%">
                                                <SfButton OnClick=@GetHaltReasonsIsMachine CssClass="TSIOperationPageAdjustmentButton">Makine Kaynaklı Duruşlar</SfButton>
                                            </td>

                                            <td style="width:20%">
                                                <SfButton OnClick=@GetHaltReasonsIsManagement CssClass="TSIOperationPageAdjustmentButton">Yönetim Kaynaklı Duruşlar</SfButton>
                                            </td>

                                        </tr>
                                    </table>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="1" ColumnSpan="2">
                        <Template>
                            <br />
                            <SfCard class="TSIHaltReasonDetailCards">
                                <CardContent>

                                    <DxGridLayout CssClass="TSIGridOperationPageLayout">

                                        <Rows>
                                            <DxGridLayoutRow Height="60%" />
                                            <DxGridLayoutRow Height="15%" />
                                        </Rows>

                                        <Columns>
                                            <DxGridLayoutColumn Width="2%" />
                                            <DxGridLayoutColumn Width="30%" />
                                            <DxGridLayoutColumn Width="2%" />
                                            <DxGridLayoutColumn Width="30%" />
                                            <DxGridLayoutColumn Width="2%" />
                                            <DxGridLayoutColumn Width="30%" />
                                            <DxGridLayoutColumn Width="2%" />
                                        </Columns>

                                        <Items>

                                            <DxGridLayoutItem Row="0" Column="1" ColumnSpan="5">
                                                <Template>

                                                    @foreach (var item in HaltReasonsList)
                                                    {
                                                        <div id="card_sample_1" class="card_sample" onclick="@(()=>OnSelectHaltReason(item))" style=" float:left;width: 290px;">
                                                            <SfCard CssClass="TSIStationCards">
                                                                <div style="background-color:#00ff14">
                                                                    <br>
                                                                    <center> <CardHeader Title="@item.Name" /></center>
                                                                    <CardContent>
                                                                        <ChildContent>
                                                                        </ChildContent>
                                                                    </CardContent>

                                                                    <CardFooter>
                                                                    </CardFooter>
                                                                </div>
                                                            </SfCard>
                                                        </div>
                                                        
                                                    }
                                                </Template>
                                            </DxGridLayoutItem>

                                        </Items>
                                    </DxGridLayout>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>

                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate >
            <div style=" height: 105%;background-color: white !important;width: 100%;text-align: end;">
            <SfButton Disabled=@EndHaltReasonButtonDisable OnClick=@EndHaltReasonButtonClick CssClass="TSIOperationPageAdjustmentButton">Duruşu Bitir</SfButton>
            </div>
        </FooterContentTemplate>
    </DxPopup>

</div>