@page "/"
@namespace TsiErp.Dashboard.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";    
}                          

<component type="typeof(App)" render-mode="ServerPrerendered" />

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TSI ERP Dashboard</title>
    <base href="~/" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- overlay scrollbars -->
    <link type="text/css" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" />
     <!-- erossini DataTable -->
     <link href="/_content/PSC.Blazor.Components.DataTable/css/DataTable.css" rel="stylesheet" />
    <style>
        /* .carousel-inner > .item > img {
                    min-height: 300px;
                    max-height: 300px;
                    width: 100%;
                }*/
    </style>
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->

    <script src="_content/Blazorized.AdminLte/js/interop.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="/_content/PSC.Blazor.Components.DataTable/js/DataTable.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/plugins/moment/moment-with-locales.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- overlay scrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
</body>
</html>