<table width="1000px">
    <tr>
        <td width="1000px">
            <span style="float:left">
                <label ><span style="color:black">@PreviousMenus&nbsp;</span><span style="color:black; font-weight:bold">>&nbsp;@CurrentMenu</span></label>
            </span>
        </td>
      
    </tr>
</table>

