

<select @ref="ElementRef" class="TSIComboBox" disabled="@Disabled" multiple="@Multiple">
    @foreach (var item in DataSource)
    {
        <option>@item</option>
    }
</select>

@code {

    //[Parameter, EditorRequired] public IEnumerable<TItem> DataSource { get; set; }

    private bool multiple;

    [Parameter]
    public List<object> DataSource { get; set; }

    [Parameter]
    public int TSISelectedID { get; set; }

    [Parameter]
    public ElementReference ElementRef { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public bool Multiple
    {
        get => multiple;
        set
        {
            multiple = value;
        }
    }
}
