@using System.Collections.Generic;
@using System.Linq;
@using System.Text;


<div class="input-group mb-3">
    <input type="text" class="TSITxtBox" placeholder="@Placeholder" @bind-value="@TSIText" disabled="@Disable" >
</div>


