@page "/product-groups"


<ContentHeader>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Stok Analizi > Stok Grupları</CardTitle></Title>
        <Body>
            İçerik
        </Body>
    </Card>
</ContentMain>

@code {

}
