@page "/contract-unsuitability-analysis"
@layout ProductionLayout

<ContentHeader>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Fason Uygunsuzluk Analizi</CardTitle></Title>
        <Body>
            İçerik
        </Body>
    </Card>
</ContentMain>

@code {

}
