@page "/manufacturer-unsuitability-analysis"

<ContentHeader>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Tedarikçi Uygunsuzluk Analizi</CardTitle></Title>
        <Body>
            İçerik
        </Body>
    </Card>
</ContentMain>

@code {

}
