@page "/machine-analysis-general"

<ContentHeader>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Makina Analizi > Genel</CardTitle></Title>
        <Body>
            İçerik
        </Body>
    </Card>
</ContentMain>

@code {

}
