<table width="1000px">
    <tr>
        <td width="1000px">
            <span style="float:left">
                <label style="font-size:16px">

                    <label style="font-size:16px;color:#B70000;font-weight:bold;">İş İstasyonu:</label>
                    <span class="breadCrumbCurrentPage">@StationCode&nbsp;&nbsp;&nbsp;</span>

                    <label style="font-size:16px;color:#B70000;font-weight:bold;">Operasyon:</label>
                    <span class="breadCrumbCurrentPage">@OperationName&nbsp;&nbsp;&nbsp;</span>

                    <label style="font-size:16px;color:#B70000;font-weight:bold;">Personel:</label>
                    <span class="breadCrumbCurrentPage">@EmployeeName&nbsp;&nbsp;&nbsp;</span>

                </label>
            </span>
        </td>

    </tr>
</table>

<style>
    .breadCrumbCurrentPage {
        color: black;
        font-weight: bold;
    }

        .breadCrumbCurrentPage:hover {
            color: #B70000;
        }
</style>