@page "/"

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using System.Timers
@using TsiErp.DataAccess.Services.Login

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Xmee | Login and Register Form Html Templates</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/login/css/fontawesome-all.min.css">

    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/login/font/flaticon.css">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/login/style.css">
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="preloader" class="preloader">
        <div class='inner'>
            <div class='line1'></div>
            <div class='line2'></div>
            <div class='line3'></div>
        </div>
    </div>
    <section class="fxt-template-animation fxt-template-layout31">
        <span class="fxt-shape fxt-animation-active"></span>
        <div class="fxt-content-wrap">
            <div class="fxt-heading-content">
                <div class="fxt-inner-wrap">
                    <div class="fxt-transformY-50 fxt-transition-delay-3">
                        <a href="login-31.html" class="fxt-logo"><img src="/login/img/logo-31.png" alt="Logo"></a>
                    </div>
                    <div class="fxt-transformY-50 fxt-transition-delay-4">
                        <h1 class="fxt-main-title">Teknoloji Yazılım Hizmetleri</h1>
                    </div>
                    <div class="fxt-login-option">
                        @*<ul>
                            <li class="fxt-transformY-50 fxt-transition-delay-6"><a href="#">Sing in with Google</a></li>
                            <li class="fxt-transformY-50 fxt-transition-delay-7"><a href="#">Sing in with Facebook</a></li>
                        </ul>*@
                    </div>
                </div>
            </div>
            <div class="fxt-form-content">
                <div class="fxt-page-switcher">
                    <h2 class="fxt-page-title mr-3">TSI ERP - Kurumsal Yazılım Çözümleri</h2>
                    @*<ul class="fxt-switcher-wrap">
                        <li><a href="login-31.html" class="fxt-switcher-btn active">Login</a></li>
                        <li><a href="register-31.html" class="fxt-switcher-btn">Register</a></li>
                    </ul>*@
                </div>
                <div class="fxt-main-form">
                    <div class="fxt-inner-wrap">
                        <form method="POST">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="email" id="email" class="form-control" name="email" placeholder="Email" required="required" @bind-value="User">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input id="password" type="password" class="form-control" name="password" placeholder="********" required="required" @bind-value="Password">
                                        <i toggle="#password" class="fa fa-fw fa-eye toggle-password field-icon"></i>
                                    </div>
                                </div>
                               @* <div class="col-12">
                                    <div class="form-group">
                                        <div class="fxt-checkbox-wrap">
                                            <div class="fxt-checkbox-box mr-3">
                                                <input id="checkbox1" type="checkbox">
                                                <label for="checkbox1" class="ps-4">Keep me logged in</label>
                                            </div>
                                            <a href="forgot-password-31.html" class="fxt-switcher-text">Forgot Password</a>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="fxt-btn-fill" @onclick="OnLoginButtonClicked">Giriş Yap</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        @*<div class="fxt-switcher-description">Don't have an account?<a href="register-31.html" class="fxt-switcher-text ms-1">Register</a></div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<DxPopup CssClass="PopUpCss" Visible="@vispopup"
         ShowFooter="false"
         ShowHeader="false"
         Width="600px"
         Height="300px"
         Closing="LoginPopupClosing">
    <BodyTemplate>
        <SfCard class="CardsLogin">
            <CardContent>
                <br />
                <center><h1 style="color:white">Hatalı Kullanıcı Girişi</h1></center>	<br /><br />
                <center><span style="font-size:16px; font-weight:bold; color:white">Kullanıcı adı veya şifre hatalı. Lütfen tekrar deneyiniz.</span></center>
                <br /><br /><br />
            </CardContent>
            <CardFooter>
                @*<center><DxButton  CssClass="e-btn e-secondary" style="background-color:#1E1E1E; font-size:18px; font-weight:bold;" Click="@OnOkButtonClicked" Text="Kapat" /></center>*@
                <center><DxButton class="btn login_btn" style="width:75px" Click="@OnOkButtonClicked" Text="Kapat" /></center>
            </CardFooter>
        </SfCard>
    </BodyTemplate>
    <FooterContentTemplate>
        @*<DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Secondary" Text="Cancel" Click="@(() => PopupVisible = false)" />*@
    </FooterContentTemplate>
</DxPopup>

@code {

    string User = string.Empty;
    string Password = string.Empty;
    bool vispopup = false;
    bool VisibleSpinner = false;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JSRuntime.InvokeVoidAsync(identifier: "import", "/login/js/jquery-3.5.0.min.js");
            await JSRuntime.InvokeVoidAsync(identifier: "import", "/login/js/bootstrap.min.js");
            await JSRuntime.InvokeVoidAsync(identifier: "import", "/login/js/imagesloaded.pkgd.min.js");
            await JSRuntime.InvokeVoidAsync(identifier: "import", "/login/js/validator.min.js");
            await JSRuntime.InvokeVoidAsync(identifier: "import", "/login/js/main.js");
        }
    }

    void LoginPopupClosing(PopupClosingEventArgs args)
    {
        vispopup = false;
    }

    private void OnLoginButtonClicked()
    {
        if (User == "admin" && Password == "admin")
        {
            VisibleSpinner = true;

            LoginedUserService.UserId = Guid.Parse("d71be8fe-07ce-4ff0-940f-f6d778c16181");

            LoginedUserService.VersionTableId = Guid.Parse("8A5F698D-D632-4314-A0C4-02E496FEB6CD");

            NavigationManager.NavigateTo("/home");
        }
        else
        {
            vispopup = true;
        }

    }
    private void OnOkButtonClicked()
    {
        vispopup = false;
        NavigationManager.NavigateTo("/");
    }

}
