@page "/powerpoint-features"
@using System.IO;
@using TsiErp.DashboardUI;
@inject TsiErp.DashboardUI.Data.PowerPointService service
@inject Microsoft.JSInterop.IJSRuntime JS
<h2>PowerPoint</h2>
<br/>
<div id = "ControlRegion">
<p>Syncfusion PowerPoint Library (Essential Presentation) is a high-performance Blazor PowerPoint library that allows you to create, read, edit, and convert PowerPoint presentations programmatically without Microsoft Office dependencies.</p>
<button class="btn btn-primary" @onclick="@CreatePowerPoint">Create PowerPoint</button>
</div>
@code {
    MemoryStream documentStream;
    /// <summary>
    /// Create and download the Word document
    /// </summary>
    protected async void CreatePowerPoint()
    {
        documentStream = service.CreatePowerPoint();
        await JS.SaveAs("Sample.pptx", documentStream.ToArray());
    }
}
