@page "/general-scrap-analysis"



<ContentHeader>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Stok Analizi > Genel Hurda Analizi</CardTitle></Title>
        <Body>
            İçerik
        </Body>
    </Card>
</ContentMain>

@code {
     

}
