@page "/machine-analysis-hold"
@layout ProductionLayout

<ContentHeader>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Makina Analizi > Duruş</CardTitle></Title>
        <Body>
            İçerik
        </Body>
    </Card>
</ContentMain>

@code {

}
