@page "/employee-analysis-general"

@using TsiErp.Dashboard.Data;


<ContentHeader>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Personel Analizi > Genel</CardTitle></Title>
        <Body>
            İçerik
            <br />
            
        </Body>
    </Card>
</ContentMain>


@code {
   
    }
