@page "/employee-analysis-hold"

@inject IstasyonService istasyonService

<ContentHeader>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Personel Analizi > Duruş</CardTitle></Title>
        <Body>
            <br />
            <DxChart Data="@data" LabelOverlap="ChartLabelOverlap.Hide">
                <DxChartTitle Text="Analiz">
                </DxChartTitle>
                <DxChartValueAxis>
                    <DxChartAxisTitle Text="Plansız Duruş Oranı" />
                </DxChartValueAxis>
                <DxChartValueAxis Name="Makina Kodu 1">
                </DxChartValueAxis>
                <DxChartBarSeries  ArgumentField="@((StationGeneralAnalysis i) => i.Code)"
                                  ValueField="@((StationGeneralAnalysis i) => i.UnplannedPercentage)"
                                  Name="Plansız Duruş Oranı"
                                     >
                    <DxChartSeriesLabel Visible="true" />
                </DxChartBarSeries>
                <DxChartLegend Orientation="Orientation.Horizontal"
                               HorizontalAlignment="HorizontalAlignment.Right"
                               Position="RelativePosition.Outside" />
            </DxChart>
        </Body>
    </Card>
</ContentMain>

@code {
    List<StationGeneralAnalysis> data = new List<StationGeneralAnalysis>();
    DateTime date1 = new DateTime();
    DateTime date2 = new DateTime();

    protected override void OnInitialized()
    {
        data = istasyonService.GetStationGeneralAnalyies(date1, date2);
    }

}
