@page "/maps-features"
@using System.Collections.ObjectModel
@using Syncfusion.Blazor.Maps
<h2>Maps</h2>
<br/>
<div id = "ControlRegion">
<SfMaps Theme="Theme.Bootstrap5" ProjectionType="ProjectionType.Mercator" >
    <MapsZoomSettings Enable="true"></MapsZoomSettings>
    <MapsTitleSettings Text="USA Election Results - 2016">
        <MapsTitleTextStyle Size="16px" Opacity="1"></MapsTitleTextStyle>
    </MapsTitleSettings>
    <MapsLegendSettings Visible="true" Mode="LegendMode.Default" Position="LegendPosition.Top" Alignment="Alignment.Center" Width="50%" Height="5%" >
        <MapsLegendTextStyle FontWeight="400" Size="14px"></MapsLegendTextStyle>
    </MapsLegendSettings>
    <MapsLayers>
        <MapsLayer ShapeData="@MapShapeData" ShapePropertyPath="@(new string[] { "name" })" ShapeDataPath="State" DataSource="datasource" TValue="SelectionData">
            <MapsLayerTooltipSettings Visible="true" ValuePath="State"></MapsLayerTooltipSettings>
            <MapsLayerHighlightSettings Enable="true" Fill="#dde2ee"></MapsLayerHighlightSettings>
            <MapsLayerSelectionSettings Enable="true" Fill="#bcc5dc" Opacity="1"></MapsLayerSelectionSettings>
            <MapsDataLabelSettings Visible="true" LabelPath="State" SmartLabelMode="SmartLabelMode.Trim">
                <MapsLayerDataLabelTextStyle Color="Black"></MapsLayerDataLabelTextStyle>
            </MapsDataLabelSettings>
            <MapsShapeSettings Fill="#E5E5E5" ColorValuePath="Candidate">
                <MapsShapeColorMappings>
                    <MapsShapeColorMapping Value="Trump" Color="@(new string[] { "#deebae" })"></MapsShapeColorMapping>
                    <MapsShapeColorMapping Value="Clinton" Color="@(new string[] { "#a4d6ad" })"></MapsShapeColorMapping>
                </MapsShapeColorMappings>
            </MapsShapeSettings>
              <MapsMarkerSettings>
                <MapsMarker Visible="true" AnimationDuration="0" Shape="MarkerType.Balloon" Fill="Red" Width="15" Height="25" DataSource="MarkerDataSource" TValue="MarkerData"></MapsMarker>
            </MapsMarkerSettings>
        </MapsLayer>
    </MapsLayers>
</SfMaps>
</div>
<br/>
<div>
  <h3>Selected Features:</h3>
    <ul class="ulstyle">
      <li class="list"> Legend Alignment - Center</li>
      <li class="list"> Legend Position - Top</li>
      <li class="list"> Legend Type - Default</li>
      <li class="list"> Projection Type - Mercator</li>
      <li class="list"> Show Marker</li>
      <li class="list"> Show Data Label</li>
      <li class="list"> Enable Tooltip</li>
      <li class="list"> Enable Highlight</li>
      <li class="list"> Enable Selection</li>
      <li class="list"> Enable Zooming</li>
      <li class="list"> Theme - Bootstrap v5</li>
    </ul>
</div>
<br/>
<style>
    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }
    .list {
    float: left;
    line-height: 20px;
    margin: 10px;
    min-width: 250px;
    }
</style>
@code {
    public MapDataSettings MapShapeData = new MapDataSettings
    {
        async = true,
        dataOptions = "usa.json",
        type = "GET"
    };
    public class MapDataSettings
    {
        public Boolean async { get; set; }
        public String dataOptions { get; set; }
        public String type { get; set; }
    };
    public class MarkerData
    {
        public double Latitude { get; set; }
        public double Longitude { get; set; }
        public string name { get; set; }
    }
    public class SelectionData
    {
        public double value { get; set; }
        public string State { get; set; }
        public string Candidate { get; set; }
        public double Trump { get; set; }
        public double Clinton { get; set; }
    }
    public List<MarkerData> MarkerDataSource = new List<MarkerData>
    {
        new MarkerData{ Latitude= 37.6276571, Longitude= -122.4276688, name= "San Bruno" },
        new MarkerData{ Latitude= 33.5302186, Longitude= -117.7418381, name= "Laguna Niguel" },
        new MarkerData{ Latitude= 40.7127753, Longitude= -74.0059728, name= "Laguna Niguel" }
    };
    public List<SelectionData> datasource = new List<SelectionData> {
        new SelectionData { value=5, State="Alabama", Candidate="Trump", Trump=62.9, Clinton=34.6 },
        new SelectionData { value=5, State="Alaska", Candidate="Trump", Trump=52.9, Clinton=37.7 },
        new SelectionData { value=5, State="Arkansas", Candidate="Trump", Trump=60.6, Clinton=33.7 },
        new SelectionData { value=5, State="Arizona", Candidate="Trump", Trump=49.5, Clinton=45.4 },
        new SelectionData { value=1, State="California", Candidate="Clinton", Trump=32.8, Clinton=61.6 },
        new SelectionData { value=1, State="Colorado", Candidate="Clinton", Trump=47.3, Clinton=44.4 },
        new SelectionData { value=1, State="Connecticut", Candidate="Clinton", Trump=41.2, Clinton=54.5 },
        new SelectionData { value=1, State="Delaware", Candidate="Clinton", Trump=53.4, Clinton=41.9 },
        new SelectionData { value=1, State="District of Columbia", Candidate="Clinton", Trump=4.1, Clinton=92.8 },
        new SelectionData { value=5, State="Florida", Candidate="Trump", Trump=49.1, Clinton=47.8 },
        new SelectionData { value=5, State="Georgia", Candidate="Trump", Trump=51.3, Clinton=45.6 },
        new SelectionData { value=1, State="Hawaii", Candidate="Clinton", Trump=62.2, Clinton=30 },
        new SelectionData { value=5, State="Idaho", Candidate="Trump", Trump=59.2, Clinton=27.6 },
        new SelectionData { value=1, State="Illinois", Candidate="Clinton", Trump=55.4, Clinton=39.4 },
        new SelectionData { value=5, State="Indiana", Candidate="Trump", Trump=57.2, Clinton=37.9 },
        new SelectionData { value=5, State="Iowa", Candidate="Trump", Trump=51.8, Clinton=42.2 },
        new SelectionData { value=5, State="Kansas", Candidate="Trump", Trump=57.2, Clinton=36.2 },
        new SelectionData { value=5, State="Kentucky", Candidate="Trump", Trump=62.5, Clinton=32.7 },
        new SelectionData { value=5, State="Louisiana", Candidate="Trump", Trump=58.1, Clinton=38.4 },
        new SelectionData { value=1, State="Maine", Candidate="Clinton", Trump=45.2, Clinton=47.9 },
        new SelectionData { value=1, State="Maryland", Candidate="Clinton", Trump=35.3, Clinton=60.5 },
        new SelectionData { value=1, State="Massachusetts", Candidate="Clinton", Trump=33.5, Clinton=60.8 },
        new SelectionData { value=5, State="Michigan", Candidate="Trump", Trump=47.6, Clinton=47.3 },
        new SelectionData { value=1, State="Minnesota", Candidate="Clinton", Trump=45.4, Clinton=46.9 },
        new SelectionData { value=5, State="Mississippi", Candidate="Trump", Trump=58.3, Clinton=39.7 },
        new SelectionData { value=5, State="Missouri", Candidate="Trump", Trump=57.1, Clinton=38.0 },
        new SelectionData { value=5, State="Montana", Candidate="Trump", Trump=56.5, Clinton=36.0 },
        new SelectionData { value=5, State="Nebraska", Candidate="Trump", Trump=60.3, Clinton=34.0 },
        new SelectionData { value=1, State="Nevada", Candidate="Clinton", Trump=45.5, Clinton=47.9 },
        new SelectionData { value=1, State="New Hampshire", Candidate="Clinton", Trump=47.2, Clinton=47.6 },
        new SelectionData { value=1, State="New Jersey", Candidate="Clinton", Trump=41.8, Clinton=55.0 },
        new SelectionData { value=1, State="New Mexico", Candidate="Clinton", Trump=40.0, Clinton=48.3 },
        new SelectionData { value=1, State="New York", Candidate="Clinton", Trump=37.5, Clinton=58.8 },
        new SelectionData { value=5, State="North Carolina", Candidate="Trump", Trump=50.5, Clinton=46.7 },
        new SelectionData { value=5, State="North Dakota", Candidate="Trump", Trump=64.1, Clinton=27.8 },
        new SelectionData { value=5, State="Ohio", Candidate="Trump", Trump=52.1, Clinton=43.5 },
        new SelectionData { value=5, State="Oklahoma", Candidate="Trump", Trump=65.3, Clinton=28.9 },
        new SelectionData { value=1, State="Oregon", Candidate="Clinton", Trump=41.1, Clinton=51.7 },
        new SelectionData { value=5, State="Pennsylvania", Candidate="Trump", Trump=48.8, Clinton=47.6 },
        new SelectionData { value=1, State="Rhode Island", Candidate="Clinton", Trump=39.8, Clinton=55.4 },
        new SelectionData { value=5, State="South Carolina", Candidate="Trump", Trump=54.9, Clinton=40.8 },
        new SelectionData { value=5, State="South Dakota", Candidate="Trump", Trump=61.5, Clinton=31.7 },
        new SelectionData { value=5, State="Tennessee", Candidate="Trump", Trump=61.1, Clinton=34.9 },
        new SelectionData { value=5, State="Texas", Candidate="Trump", Trump=52.6, Clinton=43.4 },
        new SelectionData { value=5, State="Utah", Candidate="Trump", Trump=45.9, Clinton=27.8 },
        new SelectionData { value=1, State="Vermont", Candidate="Clinton", Trump=39.7, Clinton=61.1 },
        new SelectionData { value=1, State="Virginia", Candidate="Clinton", Trump=45.0, Clinton=49.9 },
        new SelectionData { value=1, State="Washington", Candidate="Clinton", Trump=4.1, Clinton=92.8 },
        new SelectionData { value=5, State="Wisconsin", Candidate="Trump", Trump=68.7, Clinton=26.5 },
        new SelectionData { value=5, State="West Virginia", Candidate="Trump", Trump=47.9, Clinton=46.9 },
        new SelectionData { value=5, State="Wyoming", Candidate="Trump", Trump=70.1, Clinton=22.5 }
    };
}
