@page "/"

<input type="button" @onclick="Tikla" />
<div class="row h-100">
    <div class="col-4">
        <div class="row h-100 p-4 no-gutters" style="background: #eee;">

            <div class="col-6">
                <div class="text-center" draggable="true" @ondragstart="() => OnDragStart(0)">
                    <img class="d-block m-auto" src="/images/DefaultNodeWidget.png" />
                    <span>Default Node</span>
                </div>
            </div>

            <div class="col-6">
                <div class="text-center" draggable="true" @ondragstart="() => OnDragStart(1)">
                    <img class="d-block m-auto" src="/images/BotAnswerNodeWidget.png" />
                    <span>Bot Answer Node</span>
                </div>
            </div>

            <div class="col-6">
                <div class="text-center" draggable="true" @ondragstart="() => OnDragStart(1)">
                    <img class="d-block m-auto" src="/images/Bilgi_Kutusu.png" />
                    <span>Bilgi Kutusu</span>
                </div>
            </div>

            <div class="col-6">
                <div class="text-center" draggable="true" @ondragstart="() => OnDragStart(1)">
                    <img class="d-block m-auto" src="/images/Bitmis_Urun.png" />
                    <span>Bitmiş Ürün</span>
                </div>
            </div>

            <div class="col-6">
                <div class="text-center" draggable="true" @ondragstart="() => OnDragStart(1)">
                    <img class="d-block m-auto" src="/images/Cekme_Kanbani.png" />
                    <span>Bitmiş Ürün</span>
                </div>
            </div>

            <div class="col-6">
                <div class="text-center" draggable="true" @ondragstart="() => OnDragStart(1)">
                    <img class="d-block m-auto" src="/images/Dis_Kaynaklar.png" />
                    <span>Bitmiş Ürün</span>
                </div>
            </div>

            <div class="col-6">
                <div class="text-center" draggable="true" @ondragstart="() => OnDragStart(1)">
                    <img class="d-block m-auto" src="/images/Fifo_Transferi.png" />
                    <span>Bitmiş Ürün</span>
                </div>
            </div>

            <div class="col-6">
                <div class="text-center" draggable="true" @ondragstart="() => OnDragStart(1)">
                    <img class="d-block m-auto" src="/images/Itme_Hareketi.png" />
                    <span>Bitmiş Ürün</span>
                </div>
            </div>

            <div class="col-6">
                <div class="text-center" draggable="true" @ondragstart="() => OnDragStart(1)">
                    <img class="d-block m-auto" src="/images/Iyilestirme_Calismasi.png" />
                    <span>Bitmiş Ürün</span>
                </div>
            </div>

            <div class="col-6">
                <div class="text-center" draggable="true" @ondragstart="() => OnDragStart(1)">
                    <img class="d-block m-auto" src="/images/Kanban_Kutusu.png" />
                    <span>Bitmiş Ürün</span>
                </div>
            </div>


        </div>
    </div>
    <div class="col-8" ondragover="event.preventDefault();" @ondragover:preventDefault @ondrop="OnDrop" style="width:800px !important;height:800px !important">
        <CascadingValue Value="_diagram">
            <DiagramCanvas>
            </DiagramCanvas>
        </CascadingValue>
    </div>
</div>


@code {

}
